@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";


.vh-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  height: 50px;
}