extends layouts/default
include helpers/mixins

block variables
    - const title = "Start"

    -
        const menu = [
            [ "Макияж", [
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
            ]],
            [ "Макияж", [
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
            ]],
            [ "Макияж", [
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
            ]],
            [ "Макияж", [
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
            ]],
            [ "Макияж", [
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
            ]],
        ];

block content

    header.vh-header
        .container
            nav.vh-nav
                ul.vh-nav__wrap
                    li.vh-nav__logo
                        a(href="/").vh-logo
                            <svg width="128" height="14" viewBox="0 0 128 14" xmlns="http://www.w3.org/2000/svg"><path d="M0 0.182983H2.01307L5.39869 9.33331C5.5817 9.88233 5.76471 10.3398 5.85621 10.7974C5.94771 11.2549 6.03922 11.5294 6.13072 11.7124C6.22222 11.5294 6.31373 11.1634 6.40523 10.7974C6.49673 10.3398 6.67974 9.88233 6.86275 9.33331L10.1569 0.182983H11.9869L6.95425 13.7255H5.12418L0 0.182983Z" /><path d="M16.4707 0.182983H18.3008V13.7255H16.4707V0.182983Z" /><path d="M27.1763 14C26.6273 14 26.1698 13.9085 25.7123 13.817C25.2548 13.7255 24.8888 13.634 24.6142 13.451C24.2482 13.268 23.9737 13.1765 23.7907 12.9935C23.5162 12.8105 23.4247 12.719 23.2417 12.5359L24.1567 11.2549C24.2482 11.3464 24.3397 11.4379 24.5227 11.5294C24.7057 11.6209 24.8888 11.8039 25.1633 11.8954C25.4378 11.9869 25.7123 12.1699 26.0783 12.2614C26.4443 12.3529 26.8103 12.4444 27.2678 12.4444C27.6339 12.4444 27.9999 12.3529 28.3659 12.2614C28.7319 12.1699 29.0064 11.9869 29.1894 11.8039C29.4639 11.6209 29.5554 11.3464 29.7384 11.0719C29.8299 10.7974 29.9214 10.5229 29.9214 10.2484C29.9214 9.88235 29.8299 9.51634 29.6469 9.24183C29.4639 8.96732 29.2809 8.69281 28.9149 8.5098C28.6404 8.3268 28.2744 8.05229 27.9084 7.86928C27.5424 7.68628 27.1763 7.50327 26.7188 7.32026C26.2613 7.13726 25.8953 6.86274 25.5293 6.67974C25.1633 6.40523 24.7973 6.22222 24.5227 5.85621C24.2482 5.5817 23.9737 5.21569 23.8822 4.84967C23.6992 4.48366 23.6077 4.02614 23.6077 3.47712C23.6077 2.9281 23.6992 2.37909 23.9737 2.01307C24.1567 1.55556 24.5227 1.18954 24.8888 0.915033C25.2548 0.640523 25.7123 0.366012 26.1698 0.274509C26.6273 0.0915026 27.1763 0 27.7254 0C28.2744 0 28.7319 -5.24949e-07 29.0979 0.0915027C29.4639 0.183006 29.8299 0.274509 30.1044 0.366013C30.379 0.457516 30.6535 0.640522 30.8365 0.732026C31.0195 0.823529 31.2025 1.00654 31.294 1.09804L30.4705 2.47059C30.1959 2.28758 29.9214 2.10458 29.4639 1.83007C29.0064 1.64706 28.4574 1.55556 27.7254 1.55556C27.0848 1.55556 26.5358 1.73856 26.0783 2.10457C25.6208 2.47059 25.4378 2.9281 25.4378 3.47712C25.4378 3.84314 25.5293 4.11765 25.6208 4.30065C25.7123 4.57516 25.8953 4.75817 26.1698 4.94118C26.3528 5.12418 26.6273 5.30719 26.9933 5.4902C27.2678 5.6732 27.6339 5.76471 27.9084 5.94771C28.3659 6.13072 28.8234 6.40523 29.2809 6.58823C29.7384 6.86274 30.1044 7.13726 30.4705 7.41177C30.8365 7.77778 31.111 8.14379 31.3855 8.60131C31.5685 9.05882 31.7515 9.60784 31.7515 10.2484C31.7515 10.7974 31.66 11.3464 31.3855 11.8039C31.2025 12.2614 30.8365 12.6275 30.4705 12.9935C30.1044 13.3595 29.5554 13.5425 29.0064 13.7255C28.4574 13.9085 27.8169 14 27.1763 14Z" /><path d="M40.2616 0.182983H42.0002L47.2158 13.7255H45.2028L44.1047 10.6144H38.0655L36.876 13.817H35.0459L40.2616 0.182983ZM43.5557 9.0588L41.9086 4.66664C41.7256 4.11762 41.5426 3.66011 41.4511 3.29409C41.3596 2.92808 41.2681 2.65357 41.0851 2.37906C40.9936 2.65357 40.9021 3.01958 40.7191 3.3856C40.6276 3.75161 40.4446 4.20913 40.2616 4.66664L38.6145 9.0588H43.5557Z" /><path d="M57.1894 14C56.0914 14 55.1763 13.817 54.2613 13.451C53.4378 13.085 52.7057 12.5359 52.0652 11.8954C51.5162 11.2549 51.0587 10.5229 50.7842 9.60784C50.5097 8.78431 50.3267 7.86928 50.3267 6.95425C50.3267 6.03922 50.5097 5.12418 50.7842 4.30065C51.0587 3.47712 51.5162 2.7451 52.1567 2.10457C52.7057 1.46405 53.4378 0.915032 54.3528 0.549019C55.1763 0.183006 56.1829 0 57.2809 0C58.1959 0 59.0195 0.0915026 59.7515 0.274509C60.4835 0.457516 61.0325 0.823529 61.5816 1.18954L60.6665 2.56209C60.1175 2.19608 59.66 1.92157 59.111 1.73856C58.562 1.55556 57.9214 1.46405 57.2809 1.46405C56.4574 1.46405 55.7254 1.64706 55.0848 1.92157C54.4443 2.19608 53.9868 2.65359 53.5293 3.11111C53.1633 3.56863 52.7973 4.20915 52.6142 4.84967C52.4312 5.4902 52.3397 6.22222 52.3397 6.86275C52.3397 7.59477 52.4312 8.23529 52.6142 8.96732C52.7973 9.60784 53.0718 10.2484 53.5293 10.7059C53.8953 11.2549 54.4443 11.6209 55.0848 11.9869C55.7254 12.2614 56.4574 12.4444 57.2809 12.4444C58.0129 12.4444 58.6535 12.3529 59.111 12.2614C59.66 12.0784 60.1175 11.8954 60.392 11.7124V8.14379H57.5554V6.67974H62.2221V12.719C61.6731 13.085 61.0325 13.451 60.209 13.7255C59.3855 13.9085 58.379 14 57.1894 14Z" /><path d="M67.7124 0.182983H74.8496V1.73854H69.5425V5.85618H74.2091V7.41174H69.5425V12.2614H75.0326V13.817H67.7124V0.182983Z" /><path d="M80.3396 0.182983H80.8886V6.3137H89.8559V0.182983H90.405V13.7255H89.8559V6.77122H80.8886V13.7255H80.3396V0.182983Z" /><path d="M100.196 0.182983H100.837L105.961 13.7255H105.412L103.856 9.69932H97.1766L95.621 13.7255H95.072L100.196 0.182983ZM103.765 9.24181L100.562 0.823506L97.3596 9.24181H103.765Z" /><path d="M110.719 0.182983H111.268V13.2679H116.85V13.7255H110.719V0.182983Z" /><path d="M121.7 0.182983H122.249V13.2679H127.83V13.7255H121.7V0.182983Z" /></svg>

                    li.vh-nav__menu
                        ul.vh-menu
                            each item in menu
                                li.vh-menu__item
                                    a.vh-menu__link= item[0]
                                    if item[1]
                                        .vh-menu__next
                                            <svg width="4" height="6" viewBox="0 0 4 6" xmlns="http://www.w3.org/2000/svg"><path d="M1.07146 0.986598C1.11015 0.986598 1.14438 1.00148 1.17414 1.03124L3.2545 3.1116C3.28426 3.14136 3.29914 3.17559 3.29914 3.21428C3.29914 3.25297 3.28426 3.28719 3.2545 3.31696L1.17414 5.39731C1.14438 5.42707 1.11015 5.44196 1.07146 5.44196C1.03277 5.44196 0.998547 5.42707 0.968785 5.39731L0.745571 5.1741C0.715809 5.14434 0.700928 5.11011 0.700928 5.07142C0.700928 5.03273 0.715809 4.9985 0.745571 4.96874L2.50003 3.21428L0.74557 1.45981C0.715809 1.43005 0.700928 1.39582 0.700928 1.35713C0.700928 1.31844 0.715809 1.28422 0.74557 1.25446L0.968785 1.03124C0.998547 1.00148 1.03277 0.986598 1.07146 0.986598Z"/></svg>
                                        ul.vh-menu__sub.next
                                            li.vh-menu__prev
                                                <svg width="4" height="6" viewBox="0 0 4 6" xmlns="http://www.w3.org/2000/svg"><path d="M1.07146 0.986598C1.11015 0.986598 1.14438 1.00148 1.17414 1.03124L3.2545 3.1116C3.28426 3.14136 3.29914 3.17559 3.29914 3.21428C3.29914 3.25297 3.28426 3.28719 3.2545 3.31696L1.17414 5.39731C1.14438 5.42707 1.11015 5.44196 1.07146 5.44196C1.03277 5.44196 0.998547 5.42707 0.968785 5.39731L0.745571 5.1741C0.715809 5.14434 0.700928 5.11011 0.700928 5.07142C0.700928 5.03273 0.715809 4.9985 0.745571 4.96874L2.50003 3.21428L0.74557 1.45981C0.715809 1.43005 0.700928 1.39582 0.700928 1.35713C0.700928 1.31844 0.715809 1.28422 0.74557 1.25446L0.968785 1.03124C0.998547 1.00148 1.03277 0.986598 1.07146 0.986598Z"/></svg>
                                                |назад
                                            each subitem in item[1]
                                                li.vh-menu__subitem
                                                    a.vh-menu__sublink= subitem[0]
                                                    if subitem[1]
                                                        .vh-menu__next
                                                            <svg width="4" height="6" viewBox="0 0 4 6" xmlns="http://www.w3.org/2000/svg"><path d="M1.07146 0.986598C1.11015 0.986598 1.14438 1.00148 1.17414 1.03124L3.2545 3.1116C3.28426 3.14136 3.29914 3.17559 3.29914 3.21428C3.29914 3.25297 3.28426 3.28719 3.2545 3.31696L1.17414 5.39731C1.14438 5.42707 1.11015 5.44196 1.07146 5.44196C1.03277 5.44196 0.998547 5.42707 0.968785 5.39731L0.745571 5.1741C0.715809 5.14434 0.700928 5.11011 0.700928 5.07142C0.700928 5.03273 0.715809 4.9985 0.745571 4.96874L2.50003 3.21428L0.74557 1.45981C0.715809 1.43005 0.700928 1.39582 0.700928 1.35713C0.700928 1.31844 0.715809 1.28422 0.74557 1.25446L0.968785 1.03124C0.998547 1.00148 1.03277 0.986598 1.07146 0.986598Z"/></svg>
                                                        ul.vh-menu__sub.next
                                                            li.vh-menu__prev
                                                                <svg width="4" height="6" viewBox="0 0 4 6" xmlns="http://www.w3.org/2000/svg"><path d="M1.07146 0.986598C1.11015 0.986598 1.14438 1.00148 1.17414 1.03124L3.2545 3.1116C3.28426 3.14136 3.29914 3.17559 3.29914 3.21428C3.29914 3.25297 3.28426 3.28719 3.2545 3.31696L1.17414 5.39731C1.14438 5.42707 1.11015 5.44196 1.07146 5.44196C1.03277 5.44196 0.998547 5.42707 0.968785 5.39731L0.745571 5.1741C0.715809 5.14434 0.700928 5.11011 0.700928 5.07142C0.700928 5.03273 0.715809 4.9985 0.745571 4.96874L2.50003 3.21428L0.74557 1.45981C0.715809 1.43005 0.700928 1.39582 0.700928 1.35713C0.700928 1.31844 0.715809 1.28422 0.74557 1.25446L0.968785 1.03124C0.998547 1.00148 1.03277 0.986598 1.07146 0.986598Z"/></svg>
                                                                | назад
                                                            each sub2item in subitem[1]
                                                                li.vh-menu__subitem
                                                                    a.vh-menu__sublink= sub2item
                    li.vh-nav__search
                        .vh-search
                            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><path d="M13.7871 12.7518L10.3359 9.28631C11.2233 8.26788 11.7095 6.98648 11.7095 5.65249C11.7095 2.53576 9.08299 0 5.85474 0C2.62649 0 0 2.53576 0 5.65249C0 8.76923 2.62649 11.305 5.85474 11.305C7.06667 11.305 8.22158 10.9521 9.20899 10.2821L12.6864 13.7739C12.8318 13.9196 13.0273 14 13.2368 14C13.4351 14 13.6232 13.927 13.766 13.7943C14.0694 13.5124 14.0791 13.045 13.7871 12.7518ZM5.85474 1.47456C8.24092 1.47456 10.1821 3.34873 10.1821 5.65249C10.1821 7.95625 8.24092 9.83043 5.85474 9.83043C3.46855 9.83043 1.52732 7.95625 1.52732 5.65249C1.52732 3.34873 3.46855 1.47456 5.85474 1.47456Z"/></svg>
                    li.vh-nav__quick
                        ul.vh-nav__quick-list
                            li.vh-nav__phone
                                a(href="#phone").vh-phone
                                    <svg width="402" height="402" viewBox="0 0 402 402" xmlns="http://www.w3.org/2000/svg"><path d="M401.129 311.475C399.992 308.049 392.758 303.002 379.432 296.346C375.822 294.248 370.678 291.397 364.022 287.78C357.36 284.163 351.313 280.83 345.892 277.784C340.46 274.739 335.371 271.789 330.616 268.938C329.856 268.367 327.477 266.704 323.48 263.938C319.479 261.18 316.105 259.133 313.34 257.798C310.581 256.471 307.867 255.803 305.202 255.803C301.396 255.803 296.642 258.517 290.934 263.938C285.226 269.366 279.99 275.262 275.234 281.644C270.477 288.023 265.432 293.919 260.108 299.344C254.776 304.771 250.395 307.482 246.973 307.482C245.255 307.482 243.113 307.003 240.546 306.058C237.98 305.107 236.028 304.292 234.688 303.635C233.36 302.964 231.081 301.636 227.843 299.631C224.599 297.632 222.795 296.537 222.415 296.346C196.34 281.877 173.977 265.317 155.322 246.67C136.673 228.012 120.111 205.651 105.646 179.573C105.456 179.192 104.359 177.383 102.362 174.149C100.362 170.912 99.029 168.631 98.363 167.295C97.697 165.964 96.888 164.012 95.938 161.443C94.988 158.874 94.511 156.734 94.511 155.019C94.511 151.595 97.224 147.215 102.649 141.885C108.073 136.558 113.975 131.512 120.349 126.757C126.728 122.002 132.624 116.766 138.05 111.058C143.474 105.347 146.186 100.591 146.186 96.785C146.186 94.122 145.52 91.407 144.189 88.648C142.857 85.883 140.811 82.509 138.05 78.51C135.288 74.513 133.623 72.136 133.051 71.371C130.199 66.616 127.252 61.525 124.203 56.1C121.154 50.676 117.826 44.63 114.208 37.969C110.593 31.311 107.74 26.17 105.644 22.554C98.986 9.233 93.943 1.997 90.516 0.859C89.183 0.288 87.183 0 84.521 0C79.379 0 72.671 0.95 64.392 2.856C56.11 4.759 49.593 6.755 44.834 8.852C35.317 12.847 25.23 24.457 14.57 43.678C4.86301 61.566 0.0100098 79.271 0.0100098 96.78C0.0100098 101.915 0.34301 106.911 1.00901 111.769C1.67501 116.622 2.86501 122.095 4.58001 128.187C6.29201 134.277 7.67301 138.801 8.71701 141.747C9.76201 144.695 11.713 149.976 14.569 157.592C17.421 165.206 19.136 169.867 19.707 171.58C26.368 190.234 34.267 206.887 43.402 221.544C58.432 245.906 78.943 271.083 104.923 297.065C130.904 323.045 156.076 343.555 180.44 358.591C195.095 367.725 211.754 375.623 230.405 382.289C232.119 382.857 236.78 384.568 244.391 387.43C252.005 390.284 257.288 392.235 260.236 393.282C263.185 394.33 267.71 395.712 273.795 397.427C279.893 399.142 285.361 400.332 290.214 401.003C295.07 401.66 300.067 401.999 305.203 401.999C322.711 401.999 340.417 397.143 358.308 387.437C377.527 376.781 389.134 366.692 393.131 357.168C395.233 352.414 397.224 345.895 399.127 337.613C401.036 329.335 401.984 322.628 401.984 317.487C401.99 314.814 401.703 312.819 401.129 311.475Z"/></svg>

                            li.vh-nav__user
                                a(href="#user").vh-user
                                    <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg"><path d="M6.08503 7.82505C7.86395 7.82505 9.30619 6.07337 9.30619 3.91255C9.30619 1.75168 8.83268 0 6.08503 0C3.33737 0 2.86377 1.75168 2.86377 3.91255C2.86377 6.07337 4.30601 7.82505 6.08503 7.82505Z"/><path d="M0.000624608 13.7981C8.36816e-05 13.6682 -0.000457245 13.7615 0.000624608 13.7981V13.7981Z"/><path d="M12.1617 13.6411C12.1021 9.87685 11.6105 8.80425 7.84849 8.12531C7.84849 8.12531 7.31893 8.80009 6.08465 8.80009C4.85036 8.80009 4.32072 8.12531 4.32072 8.12531C0.599802 8.79685 0.078294 9.85353 0.00972255 13.5188C0.00409969 13.8181 0.001494 13.8338 0.000488281 13.799C0.000716853 13.8641 0.000991037 13.9846 0.000991037 14.1945C0.000991037 14.1945 0.896625 16 6.08465 16C11.2726 16 12.1683 14.1945 12.1683 14.1945C12.1683 14.0596 12.1684 13.9658 12.1685 13.902C12.1675 13.9235 12.1655 13.8818 12.1617 13.6411Z"/></svg>

                            li.vh-nav__basket
                                a(href="#basket").vh-basket
                                    <svg width="247" height="279" viewBox="0 0 247 279" xmlns="http://www.w3.org/2000/svg"><path d="M246.421 270.339L230.466 72.896C230.151 69.001 226.898 66 222.99 66H180.157V56.505C180.157 25.348 155.143 0 123.985 0H122.995C91.838 0 66.157 25.348 66.157 56.505V66H23.99C20.082 66 16.829 69.001 16.514 72.896L0.513971 270.896C0.344971 272.984 1.05697 275.046 2.47697 276.585C3.89697 278.124 5.89697 279 7.98997 279H238.99C238.996 279 239.004 279 239.01 279C243.153 279 246.51 275.643 246.51 271.5C246.51 271.105 246.48 270.717 246.421 270.339ZM81.157 56.505C81.157 33.619 100.109 15 122.995 15H123.985C146.871 15 165.157 33.619 165.157 56.505V66H81.157V56.505V56.505Z"/></svg>

                            li.vh-nav__wishlist
                                a(href="#wishlist").vh-wishlist
                                    <svg width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg"><path d="M16.5721 2.55157C15.6403 1.54097 14.3617 0.984375 12.9717 0.984375C11.9327 0.984375 10.9811 1.31287 10.1434 1.96065C9.7207 2.28763 9.33769 2.68767 9 3.15459C8.66245 2.6878 8.2793 2.28763 7.85646 1.96065C7.01889 1.31287 6.06734 0.984375 5.02831 0.984375C3.63826 0.984375 2.35959 1.54097 1.42781 2.55157C0.507156 3.55037 0 4.91487 0 6.39391C0 7.9162 0.567307 9.30968 1.78528 10.7794C2.87485 12.094 4.44081 13.4286 6.25424 14.974C6.87346 15.5017 7.57535 16.0999 8.30415 16.7371C8.49669 16.9058 8.74374 16.9986 9 16.9986C9.25612 16.9986 9.50331 16.9058 9.69557 16.7374C10.4244 16.1 11.1267 15.5016 11.7462 14.9735C13.5593 13.4285 15.1253 12.094 16.2149 10.7792C17.4328 9.30968 18 7.9162 18 6.39377C18 4.91487 17.4928 3.55037 16.5721 2.55157Z"/></svg>
    main.vh-main

block scripts
    script(src="../js/main.js")
    //script(src="../js/vendor.js")