extends layouts/default
include helpers/mixins

block variables
	- const title = "Start"

block content

	header.vh-header
		.container
			a(href="/").vh-logo
				img(src="" alt="Visagehall").vh-logo__img
			nav.vh-nav


block scripts
	script(src="../js/main.js")
	script(src="../js/vendor.js")