extends layouts/default
include helpers/mixins

block variables
    - const title = "Start"

    -
        const menu = [
            [ "Макияж", [
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
            ]],
            [ "Макияж" ],
            [ "Макияж", [
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы" ],
                [ "Губы" ],
                [ "Губы" ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
            ]],
            [ "Макияж", [
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
            ]],
            [ "Макияж", [
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
                [ "Губы", [ "Помада", "Блеск", "Карандаш", "Бальзам", "Тинт"] ],
            ]],
        ];

block content
    header.vh-header
        a(href="/").vh-logo gfdgfd
        nav.vh-nav
            ul.vh-nav__menu
                each i in menu
                    li.vh-nav__item
                        a.vh-nav__link= i[0]
                        if i[1] instanceof Array
                            ul.vh-nav__submenu
                                each i2 in i[1]
                                    li.vh-nav__item
                                        a.vh-nav__link= i2[0]
                                        if i2[1] instanceof Array
                                            ul.vh-nav__submenu
                                                each i3 in i2[1]
                                                    li.vh-nav__item
                                                        a.vh-nav__link= i3
        ul.vh-shortcuts


    main.vh-main

block scripts
    script(src="../js/main.js")
    //script(src="../js/vendor.js")